{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Progressive Web App Configuration!
{% endblock %}

{% block main %}
    <div id="tl_buttons">
        <a href="javascript:history.back();" class="header_back" title="">Go back</a>
    </div>
    <div id="tl_maintenance_mode" class="maintenance_inactive">
        <h2 class="sub_headline">Manifest</h2>
    </div>
{% endblock %}

{% block error %}
{% endblock %}
